.video-overlay
  %video#video{autoplay: true, playsinline: true}
  .frame
  .button-container
    %button#capture-btn.btn.btn-primary Verify
    %button#switch-camera-btn.btn.btn-secondary Switch Camera
  %canvas#canvas{style: "display: none;"}
  .overlay

  = form_with(url: verification_receive_verification_path, method: :post, local: true, id: 'image-upload-form') do |form|
    = form.hidden_field :image_data, id: 'image-data'

.row.justify-content-center.mt-3
  .col-md-8
    %h3.text-center.text-danger If you see this message, that means your camera is not working.

:javascript
  const video = document.getElementById('video');
  const captureBtn = document.getElementById('capture-btn');
  const switchCameraBtn = document.getElementById('switch-camera-btn');
  const canvas = document.getElementById('canvas');
  const imageData = document.getElementById('image-data');
  const imageUploadForm = document.getElementById('image-upload-form');

  let currentCamera = 'environment';
  let stream = null;

  async function startCamera(facingMode) {
    const constraints = {
      video: {
        facingMode: facingMode,
        width: { ideal: 4096 },
        height: { ideal: 2160 }
      }
    };

    try {
      stream = await navigator.mediaDevices.getUserMedia(constraints);
      video.srcObject = stream;
      video.setAttribute('playsinline', true);
      video.play();
    } catch (error) {
      console.error('Error accessing webcam:', error);
    }
  }

  async function switchCamera() {
    if (stream) {
      stream.getTracks().forEach(track => track.stop());
    }

    if (currentCamera === 'environment') {
      currentCamera = 'user';
    } else {
      currentCamera = 'environment';
    }
    await startCamera(currentCamera);
  }

  switchCameraBtn.addEventListener('click', switchCamera);

  captureBtn.addEventListener('click', () => {
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;
    const context = canvas.getContext('2d');
    context.drawImage(video, 0, 0, canvas.width, canvas.height);
    const dataURL = canvas.toDataURL('image/jpeg', 0.9);
    imageData.value = dataURL;

    imageUploadForm.submit();
  });

  // Check if the user has already granted camera permission
  async function checkCameraPermission() {
    try {
      const stream = await navigator.mediaDevices.getUserMedia({ video: true });
      stream.getTracks().forEach(track => track.stop());
      return true;
    } catch (error) {
      return false;
    }
  }

  // Detect if the user is using an Apple device
  const isAppleDevice = /iPad|iPhone|iPod/.test(navigator.userAgent);

  if (isAppleDevice) {
    // Check if camera permission is already granted
    checkCameraPermission().then(isGranted => {
      if (isGranted) {
        // Start with the front-facing camera if permission is granted
        startCamera(currentCamera);
      } else {
        // Trigger camera permission prompt by calling switchCamera()
        switchCamera();
      }
    });
  } else {
    // Start with the front-facing camera for non-Apple devices
    startCamera(currentCamera);
  }