@import "bootstrap";

#custom-button-style {
    font-family: 'monospace';
}

.form-horizontal {
    width: auto; /* Adjust width as needed */
}

.nav-link.active {
    font-weight: bold;
    color: #ff0000; /* Adjust as needed */
}


body, html {
    overflow-x: hidden;
}

